<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.sa.happytrip.base.testListener"/>
</listeners>
  <test thread-count="10" name="Test">
    <classes>
     <!--   <class name="com.sa.happytrip.pages.AdminLogin"/> -->
      <class name="com.sa.happytrip.pages.FlightPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
